.navbar{
    margin-bottom: 10px;
    color:white;
}
.tip{
    color:red;
}
.navbar-brand{
    color:white;
}
.catCreate{
    transition:1s;
}
.allCats{
    transition: 1s;
}
.uniqueCat{
    margin:5px;
}
body{
    background-image: url("/images/background.jpg")
}
#article-section{
    height:400px;
    overflow-y:scroll;
}
.card{
    margin-bottom:10px;
}
#theCats{
    height:70vh;
    overflow-y:scroll;
}